<div class="wrapper">

    <!--=================================
   preloader -->

    <div id="pre-loader">
        <img src="assets/images/pre-loader/loader-01.svg" alt="">
    </div>

    <!--=================================
   preloader -->


    <!--=================================
   App-header -->

    <app-header></app-header>

    <!--=================================
   App-header -->


    <!--=================================
   banner -->
    <!--
    <section class="rev-slider">
        <img src="assets/images/banner_bg.jpg" style="width:100%;">



    </section> -->

    <router-outlet></router-outlet>

    <!--=================================
   banner -->

    <!--=================================
   App-footer -->
    <app-footer></app-footer>

    <!--=================================
   App-footer -->

</div>


<!--=================================
   style-customizer -->

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>