<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/02.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>team 02</h1>
                    <p>We know the secret of your success</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><a href="#">page</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>team 02</span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
page-title -->


<!--=================================
 team -->

<section class="meet-team white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h6>Meet our Superheros </h6>
                    <h2 class="title-effect">Our creative team</h2>
                    <p>Take your project to a new level with the Webster</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="isotope-filters">
                    <button data-filter="" class="active">Show All</button>
                    <button data-filter=".leadership">leadership</button>
                    <button data-filter=".development">development</button>
                    <button data-filter=".Design">Design</button>
                    <button data-filter=".design">design</button>
                </div>
                <div class="isotope full-screen columns-4">
                    <div class="grid-item leadership design development">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/01.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Martin Smith</h5>
                                    <span>CEO</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/02.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Paul Flavius</h5>
                                    <span>Design</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design development">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/06.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Anne Smith</h5>
                                    <span>Community</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item leadership Design">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/04.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design development">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/05.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design development Design">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/06.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design leadership">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/07.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item development">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/08.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design leadership Design">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/09.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design development">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/10.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item leadership Design">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/11.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item design development">
                        <div class="team team-hover">
                            <div class="team-photo">
                                <img class="img-responsive center-block" src="images/team/12.jpg" alt="">
                            </div>
                            <div class="team-description">
                                <div class="team-info">
                                    <h5>Sara Lisbon</h5>
                                    <span>Graphic Designer</span>
                                </div>
                                <div class="team-contact">
                                    <span class="call"> +(704) 279-1249</span>
                                    <span class="email"> <i class="fa fa-envelope-o"></i> letstalk@webster.com</span>
                                </div>
                                <div class="social-icons color clearfix">
                                    <ul>
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
 team  -->

<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3><strong> Webster: </strong> The most powerful template ever on the market</h3>
                <p>Create tailor-cut websites with the exclusive multi-purpose responsive template along with powerful features.</p>
                <a class="button border white" href="#">
                    <span>Purchase Now</span>
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!--=================================
action box- -->